<div class="dashboard">
	
	<h3>MY LIST</h3>

	<div class="spinner" ng-show="loadingMyList">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>

	<p class="no-episodes-yet" ng-show="!myList.length">
		LIST IS EMPTY
	</p>

	<div class="media-list">
		<div class="media-list-item media-poster-item" ng-repeat="listItem in myList">
			<div class="media-item">
				<img ng-if="listItem.poster_path" ng-src="https://image.tmdb.org/t/p/w300/{{::listItem.poster_path}}"/>
				<img ng-if="!listItem.poster_path && !listItem.manualInput" ng-src="{{basePath}}assets/poster-not-found.png"/>

				<img ng-show="listItem.manualInput && listItem.poster_image_src" ng-src="{{::listItem.poster_image_src}}">

				<div class="play-text">
					<h4 ng-bind="::listItem.name"></h4>
				</div>

				<i class="info-icon ion-ios-information" ng-click="showDetails(listItem)"></i>
				<a class="play-icon ion-ios-play" ng-click="fetchFirstEpisodeAndPlay(listItem)"></a>
			</div>       
		</div>
		
		<div class="media-list-item media-poster-item">
			<div class="media-item">					
				<img ng-src="{{basePath}}assets/add.png"/>
				
				<div class="play-text">
					<h4>Add New Group...</h4>
				</div>
								
				<a class="play-icon" style="width:100%;height:100%;top:0%;left:0%;margin:0px;border-radius:0px;border-color:transparent;background-color:transparent"></a>
									
			</div>
		</div>
		
	</div>
	
</div>
