.myList{
  padding: 15px;

	h1{
		margin-left: 15px;
		margin-top: 10px;
		margin-right: 5px;
		margin-bottom: 0px;
	}

  h3{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
  }

  .genre-display{
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-bottom: 18px;
    display: inline-block;
    font-size: 26px;
    font-weight: 100;
  }

	.btn-lg {
		padding: 10px 15px;
		margin-right: 10px;
	}
}
